<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Packages.DeliveryDetails' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <form [formGroup]="formGroup" (ngSubmit)="sumbit(formGroup.value)">
    <ion-card class="list-no">
      <ion-card-header>
        <ion-card-title>{{ 'Packages.DeliveryDetails' | translate }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="floating">{{ 'Packages.Phone' | translate }}</ion-label>
          <ion-input type="phone" formControlName="phone"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.phone">
            <div class="error-message" *ngIf="formGroup.get('phone').hasError(validation.type) && (formGroup.get('phone').dirty || formGroup.get('phone').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <ion-item lines="none">
          <ion-label position="floating">{{ 'Packages.Address' | translate }}</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.address">
            <div class="error-message" *ngIf="formGroup.get('address').hasError(validation.type) && (formGroup.get('address').dirty || formGroup.get('address').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <ion-item lines="none">
          <ion-label position="floating">{{ 'Packages.Date' | translate }}</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Event Date" formControlName="date"></ion-datetime>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.date">
            <div class="error-message" *ngIf="formGroup.get('date').hasError(validation.type) && (formGroup.get('date').dirty || formGroup.get('date').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <ion-item lines="none">
          <ion-label position="floating">{{ 'Packages.Time' | translate }}</ion-label>
          <ion-datetime displayFormat="HH:mm" placeholder="Select Event Time" formControlName="time"></ion-datetime>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.time">
            <div class="error-message" *ngIf="formGroup.get('time').hasError(validation.type) && (formGroup.get('time').dirty || formGroup.get('time').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-card-content>

      <div text-center>
        <ion-button class="login" type="submit" [disabled]="!formGroup.valid">{{ 'Packages.GoPayment' | translate }}</ion-button>
      </div>
    </ion-card>
  </form>
</ion-content>
