<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <ion-list class="list-no">
    <ion-item *ngFor="let msg of messages" lines="none">
      <h2>{{ msg.message.message }}</h2>

      <ion-button color="success" *ngIf="msg.state === 0" slot="end" shape="round" (click)="read(msg)">
        <ion-icon name="done-all"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
