<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Packages.Search' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <ion-searchbar showCancelButton="focus" animated placeholder="Search Packages" debounce="500" (ionInput)="search($event)" ></ion-searchbar>
  <ion-list class="list-no">
    <ion-item *ngFor="let item of packages" [routerLink]="['./details/',item.id]" lines="none">
      <ion-card style="background: white !important;">
        <ion-card-content>
          <ion-row>
            <ion-col style="width: 50%">
              <img src="{{item.image}}" width="100%" height="100px" alt="{{item.name}}">
            </ion-col>
            <ion-col>
              <ion-item>{{ item.name }}</ion-item>
              <ion-item>{{ 'Packages.Price' | translate }}:{{ item.price }}</ion-item>
              <ion-item>{{ 'Packages.Persons' | translate }}:{{ item.persons }}</ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
