<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Search Packages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <ion-searchbar showCancelButton="focus" animated placeholder="Search Packages" debounce="500" (ionInput)="search($event)" ></ion-searchbar>
  <ion-list class="list-no">
    <ion-item *ngFor="let item of packages" [routerLink]="['./details/',item.id]" lines="none">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
