<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <div text-center>
    <img src="../../../assets/imgs/logo.png" alt="logo" style="margin-top: 20px;width: 300px">
  </div>

  <form [formGroup]="validationsForm" class="list"  (ngSubmit)="register(validationsForm.value)">

    <ion-list class="list-no">
      <ion-item lines="none" text-center>
        <ion-input type="text" formControlName="username" placeholder="{{ 'Login.name' | translate }}"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.username">
          <div class="error-message" *ngIf="validationsForm.get('username').hasError(validation.type) && (validationsForm.get('username').dirty || validationsForm.get('username').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item lines="none"  text-center>
        <ion-input type="text" placeholder="{{ 'Login.email' | translate }}" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

    </ion-list>


    <div text-center>
      <ion-button class="login"  type="submit" [disabled]="!validationsForm.valid">{{ 'Login.update_profile' | translate }}</ion-button>
    </div>


  </form>
</ion-content>
