<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Orders.Title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
      <ion-radio-group (ionChange)="changeOrders($event)" [(ngModel)]="order_value">
        <ion-row>
          <ion-col>
            <ion-radio value="my_orders" labelPlacement="stacked"></ion-radio>
            <ion-label>{{'Orders.MyOrders' | translate }}</ion-label>
          </ion-col>
          <ion-col>
            <ion-radio value="sent_orders">{{'Orders.SentOrders' | translate }}</ion-radio>
            <ion-label>{{'Orders.SentOrders' | translate }}</ion-label>
          </ion-col>
        </ion-row>

      </ion-radio-group>
  </ion-list>

  <ion-list *ngIf="order_value === 'my_orders'">
    <ion-item *ngFor="let order of orders" >
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <img src="{{order.car.image}}">
            </ion-col>
            <ion-col>
              <h2>{{order.car.name}}</h2>
              <p>{{order.user.name}}</p>
            </ion-col>
          </ion-row>


        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="order_value === 'sent_orders'">
    <ion-item *ngFor="let order of orders" >
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <img src="{{order.car.image}}">
            </ion-col>
            <ion-col>
              <h2>{{order.car.name}}</h2>
              <p>{{order.carUser.name}}</p>
            </ion-col>
          </ion-row>


        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
