<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <ion-list class="list-no">
    <ion-item *ngFor="let order of orders" lines="none">
      <ion-card class="list-no">
        <ion-card-header>
          <ion-card-title>
            Address:{{ order.address }}
          </ion-card-title>
          <ion-card-subtitle>
            Phone:{{ order.phone }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <h2>Date:{{ order.date }}</h2>
          <h2>Time:{{ order.time }}</h2>

          <h1>Services :</h1>
          <ion-item *ngFor="let ser of order.servicePackage" lines="none">
              <ion-card class="list-no">
                <ion-card-header>{{ ser.serviceGroup.name }}</ion-card-header>
                <ion-card-content>
                  <ion-item *ngFor="let s of ser.services" lines="none">
                    <img src="{{s.file}}" alt="{{s.name}}" width="50px" height="50px" style="width: 50px;height: 50px">
                      <h3> {{ s.name }}</h3>
                  </ion-item>
                </ion-card-content>
              </ion-card>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
