<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Orders.Title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list class="list-no" style="margin-bottom: 60px;">
    <ion-item *ngFor="let order of orders|async" lines="none" (click)="openDetails(order)">
      {{ order.user.name}}

      <ion-button *ngIf="order.state == 0" color="primary" slot="end" shape="round" >
        <ion-icon name="eye-off"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
