<ion-content class="login-bg">
  <ion-list class="list">
    <ion-item lines="none">
      <ion-input type="email" placeholder="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item  lines="none">
      <ion-input  type="password" placeholder="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <div text-center>
        <ion-button (click)="login()" class="login" >Login
        </ion-button>
    </div>

    <div text-center>
      <ion-button fill="clear" class="register" [routerLink]="['/register']">Don't Have An Account? Register
      </ion-button>
    </div>

  </ion-list>
</ion-content>
