
<ion-content >
  <div text-center>
    <img src="../../../assets/imgs/logo.png" alt="logo" style="margin-top: 20px;width: 300px">
  </div>

  <ion-list class="list" style="margin-top: 20px;">

      <div text-center>
        <ion-input type="email" placeholder="{{ 'Login.email' | translate }}" [(ngModel)]="email"></ion-input>
      </div>




      <div text-center style="margin-top: 20px">
        <ion-input  type="password" placeholder="{{ 'Login.password' | translate }}" [(ngModel)]="password"></ion-input>
      </div>



    <div text-center style="margin-top: 20px">
        <ion-button (click)="login()" class="login" >{{ 'Login.login' | translate }}
        </ion-button>
    </div>

    <div text-center>
      <ion-button class="register" [routerLink]="['/register']">
        {{ 'Login.account' | translate }}
      </ion-button>
    </div>

  </ion-list>
</ion-content>
