.login-bg{
  min-width: 100%;
  min-height: 100%;
  --background: url('../../../assets/imgs/app.jpg') 0 0/100% 100% no-repeat transparent;
}

ion-input{
  margin-left: 32%;
  min-width: 100%;
  max-width: 100%;
  --color: #ffffff;
  .text-input{ text-align: center; }
  --background: url('../../../assets/imgs/et_bg.png') 0 0/100% 100% no-repeat transparent;
}
.login{
  --color: white;
  min-width: 200px;
  --background: #FF347A;
  --border-radius: 20px;
  --box-shadow: B8B4B4;
}

.login[disabled]{
  min-width: 200px;
  --background: #526723;
  --border-radius: 20px;
  --box-shadow: B8B4B4;
}

.register{
  --color: black;
}

.list{
  margin-top: 160px;
}

.list-no{
  background: transparent !important;
}

ion-item {
  --background: trasparent !important;
  --border-radius: 0px;
}



.label {
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;

}

.item-inner {
  padding-right: 3%!important;
}
ion-grid {
  height: 100%;
  justify-content: center;
}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.scroll-content{
  padding-bottom:  0 !important;
}
