\<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Login.account' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="login-bg form-content">
  <form [formGroup]="validationsForm" class="list"  (ngSubmit)="register(validationsForm.value)">
    <ion-card class="list-no">
      <ion-card-content>
        <ion-list class="list-no">
          <ion-item lines="none">
            <ion-input type="text" formControlName="username" placeholder="{{ 'Login.name' | translate }}"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.username">
              <div class="error-message" *ngIf="validationsForm.get('username').hasError(validation.type) && (validationsForm.get('username').dirty || validationsForm.get('username').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item lines="none">
            <ion-input type="text" placeholder="{{ 'Login.email' | translate }}" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <div formGroupName="matching_passwords">
            <ion-item lines="none">
              <ion-input type="password" placeholder="{{ 'Login.password' | translate }}" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-message" *ngIf="validationsForm.get('matching_passwords').get('password').hasError(validation.type) && (validationsForm.get('matching_passwords').get('password').dirty || validationsForm.get('matching_passwords').get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item lines="none">
              <ion-input type="password" placeholder="{{ 'Login.cPassword' | translate }}" formControlName="confirm_password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.confirm_password">
                <div class="error-message" *ngIf="validationsForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validationsForm.get('matching_passwords').get('confirm_password').dirty || validationsForm.get('matching_passwords').get('confirm_password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <!-- These validations are for the form group -->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.matching_passwords">
              <div class="error-message" *ngIf="validationsForm.get('matching_passwords').hasError(validation.type) && (validationsForm.get('matching_passwords').get('confirm_password').dirty || validationsForm.get('matching_passwords').get('confirm_password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

        </ion-list>
      </ion-card-content>

      <div text-center>
        <ion-button class="login"  type="submit" [disabled]="!validationsForm.valid">{{ 'Login.create' | translate }}</ion-button>
      </div>

    </ion-card>
  </form>
</ion-content>
