<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <ion-card class="list-no">
      <ion-card-header>
        <ion-card-title style="color: black">
          Notification Text
        </ion-card-title>
        <ion-card-content>
          <ion-item lines="none">
            <ion-input type="text" style="color: black;" placeholder="Notification Text" formControlName="text"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.text">
              <div class="error-message" *ngIf="form.get('text').hasError(validation.type) && (form.get('text').dirty || form.get('text').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-card-content>
      </ion-card-header>
      <div text-center>
        <ion-button class="login"  type="submit" [disabled]="!form.valid">Send</ion-button>
      </div>
    </ion-card>
  </form>

  <ion-list class="list-no" style="margin-bottom: 60px;">
    <ion-item *ngFor="let msg of messages|async" lines="none">
      <h2 style="color: black">{{ msg.message }}</h2>
      <ion-button color="primary" slot="end" shape="round" (click)="edit(msg)">
        <ion-icon name="create"></ion-icon>
      </ion-button>

      <ion-button color="danger" slot="end" shape="round" (click)="delete(msg)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>
