<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Packages.Order' | translate }} {{ aPackage.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">

  <!--  <ion-slides #testSlider pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged($event)" (ionSlideTap)="slideTap($event)">-->
  <!--    <ion-list *ngFor="let PackageService of aPackage.packageServices;let i=index" class="list-no">-->
  <ion-card class="list-no">
    <ion-card-header>
      <ion-card-title>
        Sweet and Salty
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-segment value="sweet" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="sweet">
          <ion-label>Sweet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="salty">
          <ion-label>Salty</ion-label>
        </ion-segment-button>
      </ion-segment>


      <ion-card-subtitle>
        {{ 'Packages.Select' | translate }} {{ PackageService[cIndex].amount }} {{ 'Packages.Services' | translate }}
      </ion-card-subtitle>
      <ion-list *ngIf="PackageService[cIndex].amount > 1" class="list-no">
        <ion-item *ngFor="let ser of PackageService[cIndex].services" lines="none"  style="margin-bottom: 10px" (click)="openViewer(ser)">
          <img src="{{ser.file}}" alt="{{ser.name}}" width="50px" height="50px" style="width: 50px;height: 50px">
          <ion-label>{{ser.name}}</ion-label>
          <ion-checkbox slot="end" (ionChange)="checkData($event,ser,PackageService[cIndex].serviceGroup)"></ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="PackageService[cIndex].amount == 1" class="list-no">
        <ion-radio-group [(ngModel)]="services[cIndex]" (ionChange)="data()">
          <ion-item *ngFor="let ser of PackageService[cIndex].services;let ii=index" lines="none"  style="margin-bottom: 10px" (click)="openViewer(ser)">
            <img src="{{ser.file}}" alt="{{ser.name}}" width="50px" height="50px" style="width: 50px;height: 50px">
            <ion-label>{{ser.name}}</ion-label>
            <ion-radio slot="end" [value]="ser" checked *ngIf="ii < 1"></ion-radio>
            <ion-radio slot="end" [value]="ser" *ngIf="ii > 0"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>


    </ion-card-content>


    <div text-center>
      <p> 4 of 4 </p>
    </div>

    <div text-center>
      <ion-button class="login-sec"  (click)="backData(0)">{{ 'Actions.Back' | translate }}</ion-button>
      <ion-button class="login"  (click)="showData(0)">{{ 'Actions.Next' | translate }}</ion-button>
    </div>

  </ion-card>
  <!--    </ion-list>-->
  <!--  </ion-slides>-->
</ion-content>
