<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Services.Title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <form [formGroup]="form" (ngSubmit)="submit(form.value)" class="list-no">
    <ion-card class="list-no">
      <ion-card-header>
        <ion-card-title style="color: white">{{ 'Services.Add' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item class="list-no" lines="none">
          <ion-label style="color: white" position="floating">{{ 'Services.Name' | translate }}</ion-label>
          <ion-input  style="color: white" type="text" formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.name">
            <div class="error-message" *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="list-no" lines="none">
          <ion-label style="color: white" position="floating">{{ 'Services.Desc' | translate }}</ion-label>
          <ion-input style="color: white" type="text" formControlName="description"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.description">
            <div class="error-message" *ngIf="form.get('description').hasError(validation.type) && (form.get('description').dirty || form.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="list-no" lines="none">
          <ion-label style="color: white" position="floating">{{ 'Services.Price' | translate }}</ion-label>
          <ion-input style="color: white" type="number" formControlName="price"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.price">
            <div class="error-message" *ngIf="form.get('price').hasError(validation.type) && (form.get('price').dirty || form.get('price').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="list-no" lines="none">
          <ion-label style="color: white">{{ 'Services.Group' | translate }}</ion-label>
          <ion-select style="color: white" formControlName="serviceGroup">
            <ion-select-option style="color: white" *ngFor="let group of serviceGroups" value="{{group.id}}">{{ group.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item text-wrap class="fileUpload">
          <ion-icon name="create" color="success">
          </ion-icon>
          <input type="file" class="upload" (change)="selectPhoto($event)"/>
        </ion-item>

      </ion-card-content>


      <div text-center>
        <ion-button class="login" type="submit" [disabled]="!form.valid">{{ 'Actions.Save' | translate }}</ion-button>
      </div>
    </ion-card>
  </form>


  <ion-list  class="list-no">
    <ion-item *ngFor="let service of services|async" lines="none" style="margin-top: 10px;">
      <img src="{{service.file}}" alt="{{service.name}}" width="50px" height="50px">
      <p style="margin-left: 10px;">{{ service.name }}</p>

      <ion-button color="primary" slot="end" shape="round" (click)="edit(service)">
        <ion-icon name="create"></ion-icon>
      </ion-button>

      <ion-button color="danger" slot="end" shape="round" (click)="delete(service)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>

</ion-content>
